2019-Spring/AirBattle/AirBattle/Connected Services/GameClient/GameService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GameService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8888/AirBattle/GameService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8888/AirBattle/GameService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8888/AirBattle/GameService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AirBattle.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameService_GetName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetName" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_Fire_InputMessage">
    <wsdl:part name="parameters" element="tns:Fire" />
  </wsdl:message>
  <wsdl:message name="IGameService_Fire_OutputMessage">
    <wsdl:part name="parameters" element="tns:FireResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_Result_InputMessage">
    <wsdl:part name="parameters" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="IGameService_Result_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResultResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameService">
    <wsdl:operation name="GetName">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/GetName" message="tns:IGameService_GetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/GetNameResponse" message="tns:IGameService_GetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Fire">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/Fire" message="tns:IGameService_Fire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/FireResponse" message="tns:IGameService_Fire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Result">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/Result" message="tns:IGameService_Result_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/ResultResponse" message="tns:IGameService_Result_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGameService" type="tns:IGameService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetName">
      <soap:operation soapAction="http://tempuri.org/IGameService/GetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fire">
      <soap:operation soapAction="http://tempuri.org/IGameService/Fire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Result">
      <soap:operation soapAction="http://tempuri.org/IGameService/Result" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameService">
    <wsdl:port name="BasicHttpBinding_IGameService" binding="tns:BasicHttpBinding_IGameService">
      <soap:address location="http://localhost:8888/AirBattle/GameService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>