2019-Spring/AirBattle/AirBattle/Connected Services/GameClient/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AirBattle.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AirBattle.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cell">
    <xs:sequence>
      <xs:element minOccurs="0" name="CellState" type="tns:State" />
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cell" nillable="true" type="tns:Cell" />
  <xs:simpleType name="State">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active" />
      <xs:enumeration value="Hit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="State" nillable="true" type="tns:State" />
</xs:schema>